header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  padding: 0px 20px;
  background-color: black;
  position: relative;
}

header img {
  display: none;
}

header h2 {
  font-size: 3rem;
  color: white;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  font-size: 1.8rem;
}

nav a {
  margin: 20px;
  color: white;
  font-weight: 500;
}

.header__nav--mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  header img {
    display: flex;
  }
  .header__nav--desktop {
    display: none;
  }
  .header__nav--mobile {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.455);
    top: 80px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}